[Unit]
Description=SearX instance balancer
After=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
Restart=unless-stopped
RestartSec=5
ExecStart=/usr/bin/instx

[Install]
WantedBy=default.target